@model IEnumerable<Bus_Ticket_Reservation_.Models.BusinessLayer.schedule>

@{
    ViewBag.Title = "DeleteSchedule";
}
<head>
    <script src="~/Project_Scripts/PreventBack.js"></script>
    <script src="~/Project_Scripts/ScheduleValidation.js"></script>
</head>
@using (Html.BeginForm())
{
    <body style=" background-image: url('../../images/bg.jpg');">
        <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="card col-lg-8 col-md-10 col-sm-12 p-4 border rounded">
                <h3 class="mb-4">Delete Schedule</h3>
                @if (Model != null)
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Schedule ID</th>
                                <th>Route ID</th>
                                <th>Bus ID</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var schedule in Model)
                            {
                                <tr>
                                    <td><input type="radio" name="scheduleid" value="@schedule.SID" /></td>
                                    <td>@schedule.SID</td>
                                    <td>@schedule.RouteId</td>
                                    <td>@schedule.BusId</td>
                                    <td>@schedule.Time</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-danger" id="ScheduleButton">Delete Schedule</button>
                }
                @if (ViewBag.msg != null)
                {
                    <div class="container mt-4">
                        <div class="alert alert-success">
                            @ViewBag.msg
                        </div>
                    </div>
                    <div>
                        <a href="/Admin/Schedule" class="btn btn-primary">Back</a>
                    </div>
                }
            </div>

        </div>
    </body>
}




<!-- Add the Bootstrap CSS link -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
